# Copy this file to .env.local for local development
NEXT_PUBLIC_API_URL=https://wazifni-backend.onrender.com
NEXT_PUBLIC_DEFAULT_LOCALE=en
NEXT_PUBLIC_SUPPORTED_LOCALES=en,ar
NEXT_PUBLIC_APP_NAME=Wazifni
